<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    <!-- 配置SpringMVC -->
    <!-- 1.开启SpringMVC注解模式 -->
    <!-- 简化配置：
        (1)自动注册DefaultAnootationHandlerMapping,AnotationMethodHandlerAdapter
        (2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持
    -->
    <mvc:annotation-driven />

    <!-- 2.静态资源默认servlet配置
        (1)加入对静态资源的处理：js,gif,png
        (2)允许使用"/"做整体映射
     -->
    <mvc:default-servlet-handler/>

    <!-- 3.配置jsp 显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/JSP/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <mvc:interceptors>
        <!-- <mvc:interceptor>
            <mvc:mapping path="/download/**" />
            <mvc:mapping path="/upload/**" />
            <bean class="com.xxxx.interceptor.AuthInterceptor" />
        </mvc:interceptor> -->
        <!-- 检查用户权限，对于部分不需要权限的路径进行排除 -->
        <mvc:interceptor>
            <!-- 先匹配所有路径，然后排除不需要检查的路径 -->
            <mvc:mapping path="/**" />
            <!-- 与登录相关的请求 -->
            <mvc:exclude-mapping path="/User/Login" />
            <mvc:exclude-mapping path="/User/toLogin" />
            <mvc:exclude-mapping path="/User/Regist"/>
            <mvc:exclude-mapping path="/User/toRegist"/>

            <!-- 以下是静态资源 -->
            <mvc:exclude-mapping path="/static/**"/>
            <!-- 客户端文件上传下载，不使用该校验 -->
            <!-- <mvc:exclude-mapping path="/download/**" />
            <mvc:exclude-mapping path="/upload/**" /> -->
            <!-- 用户是否已经登录的检查 -->
            <bean id="loginInterceptor" class="com.utils.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:resources mapping="/static/**" location="/WEB-INF/JSP/static/"/>
    <mvc:resources mapping="/Upload/**" location="/WEB-INF/JSP/Upload/"/>

    <!-- 4.扫描web相关的bean -->
    <context:component-scan base-package="com.controller" />

    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <!-- 文件大小最大值,指定所上传文件的总大小,单位字节。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="10485760000" />
        <!-- 内存中的最大值 -->
        <property name="maxInMemorySize" value="40960" />

    </bean>
</beans>